<div class="horizontal-scroller">
  <div *ngFor="let frontPageData of data?.data?.category?.frontPage">
    <div class="scroll-item">
      <div class="image-scroller">
        <div class="header-row">
          <h2>{{ frontPageData.header }}</h2>
        </div>
        <div #widgetsContent class="photo-row">
          <button class="button-left" (click)="scrollLeft(widgetsContent)" *ngIf="showLeftButton(widgetsContent)">
            <
          </button>

          <div *ngFor="let headerData of frontPageData.data">
            <div class="photo-container" *ngFor="let photoData of headerData.verticalPhotos">
              <img [src]="photoData.photoUrlBase" alt="Photo" />
            </div>
          </div>
          <button class="button-right" (click)="scrollRight(widgetsContent)" *ngIf="showRightButton(widgetsContent)">
            >
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
