/* Your CSS file */
.horizontal-scroller {
  }
  
.scroll-item {
}

.header-divider {
  border-top: 1px solid #ccc;
  margin-bottom: 10px;
  padding-top: 10px;
}

.image-scroller {

}

.header-row h2 {
  color: white;
}

.image-scroller img {
  max-width: 400px; /* Adjust as needed */
  max-height: 400px; /* Adjust as needed */
  margin-right: 10px;
}

.photo-row {
  display: flex;
}
